{% extends 'base.html' %}

{% block main %}
  <h1>Watchers</h1>
  
  <a href="/watcher_form" class="btn btn-success">New Watcher</a>
  
  <div class="panel panel-default">
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Path</th>
          <th>Timeout (Since last change)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for schedule in schedules %}
          <tr>
            <td>{{schedule['id']}}</td>
            <td>{{schedule['name']}}</td>
            <td>{{schedule['path']}}</td>
            <td>{{schedule['fs_timeout']}}</td>
            <td><form method="POST" action="/remove/{{schedule['id']}}"><button type="submit" class="btn btn-danger">Remove</button> </form></td>
          </tr>
        {% endfor %}
        <tr></tr>
      </tbody>
    </table>
  </div>
{% endblock %}